[Unit]
Description=Redis Cache Server
After=local-fs.target

[Container]
Image=docker.io/library/redis:{{ redis_version }}
ContainerName=redis
AutoUpdate=registry
# The official redis image requires the password as a startup argument
Exec=redis-server --requirepass {{ vault_redis_password }} --appendonly yes
Volume={{ redis_data_dir }}:/data:Z
Network={{ infra_network_name }}
PublishPort=127.0.0.1:6379:6379

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
