[Unit]
Description={{ org_slug }} Redis

[Container]
Image={{ redis_image }}
ContainerName={{ redis_unit_name }}
Network={{ network_unit_name }}.network
Volume={{ redis_data_dir }}:/data:Z
Volume={{ redis_config_dir }}/redis.conf:/usr/local/etc/redis/redis.conf:ro,Z
Exec=redis-server /usr/local/etc/redis/redis.conf

[Service]
Restart=always
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
