server {
    listen 80;
    listen [::]:80;
    server_name {{ nginx_authentik_domain }};

    include /etc/nginx/includes/acme-challenge.conf;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ nginx_authentik_domain }};

    include /etc/nginx/includes/ssl-params.conf;

    location / {
        proxy_pass http://{{ authentik_server_unit_name }}:9000;
        include /etc/nginx/includes/proxy-params.conf;
    }
}
